body{
    background:#333300;
    background: -webkit-linear-gradient(top, #333300 , #000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #333300, #000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #333300, #000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #333300 , #000000); /* Standard syntax */
}

/*NAV STUFF MAYBE*/
#navstuff{
    display: flex;
    margin-left: 20%;
    margin-top: 10%;
}
#navstuff h1{
    color:black;
    font-family: 'Caesar Dressing', cursive;
    font-size: 4em;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: black;
}
#navstuff .nav-pills li a:hover {
    /*color: white;*/
    text-decoration-color: #00ffff;
}

#navstuff ul li:first-child a{
    transform: rotate(-30deg);
}

#navstuff ul li:last-child a{
    transform: rotate(-30deg);
}
/*key modal for navitation*/
.keys {
    display: flex;
    justify-content:center;
    align-items: center;

}

.bzz span{
    display: inline-block; 
}
.bzz {
    
    background-color: white;
    background-size: 100%;  
    border-radius: 10%;

    box-shadow: inset 0 0 10px #1a0d00;
    color:  #403326;
    font-family: 'Caesar Dressing', cursive;

    margin: 0 10px 10px 10px;
    font-weight: bold;
    padding: 6% 14% 6% 14%;
    /*font-size: 3rem;*/
}
.bzz.animate{
    background-color:#00ffff;
}

.modal-content{
    left: -98%;
    background-color: transparent;
    color:white;
}

/*FLIP BOOK STUFF*/
#book{
    width:1200px;
    height:800px;
}
#book .turn-page{
    background-color:#EFE6DF;
}
#book .cover{
    background:#333;
    background-image: url("/img/front.jpg");
    background-size: cover;
    back

}
#book .back.turn-page{
    background:#333;
    background-image: url("/img/back.jpg");
    background-size: cover;
    back

}
#book .innercover.turn-page{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("/img/back.jpg");
    background-size: cover;
}
#book .outtercover.turn-page{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("/img/front.jpg");
    background-size: cover;
}

#book .loader{
    width:24px;
    height:24px;
    display:block;
    position:absolute;
    top:238px;
    left:188px;
}
#book .data{
    text-align:center;
    font-size:40px;
    color:black;
    line-height:500px;
}
#controls{
    width:800px;
    text-align:center;
    margin:20px 0px;
    font:30px arial;
}
#controls input, #controls label{
    font:30px arial;
}
#book .odd{
    background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}
#book .even{
    background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}
.data{
    background-image: url("/img/graph_paper_by_rawenLQ.jpg");
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
}
#book .shadow,
#book.shadow{
  -webkit-box-shadow: 0 4px 10px #666;
  -moz-box-shadow: 0 4px 10px #666;
  -ms-box-shadow: 0 4px 10px #666;
  -o-box-shadow: 0 4px 10px #666;
  box-shadow: 0 4px 10px #666;
}
