body{

	background-image: url("/img/graph_paper_by_rawenLQ.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-color: #DEF0E7;
    color: black;

}
.navbar-default {
  border-color: transparent;
  background-color: transparent;
}
h1{
	font-family: 'Caesar Dressing', cursive;
	font-size: 5rem;
}
h2{
	font-size: 2rem;	
}

.xl96,.xl102,.xl97,.xl100,.xl103 {
	/*background-color: #DEF0E7;*/
	font-family: 'Caesar Dressing', cursive;
	border-top: 
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border: none;
	width: 60%;
}


